<h1>Formulario</h1>

<form action="/personas" method="post">

    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" name="nombre">
    </div> 

    <div>
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" name="apellido">
    </div>

    <div>
        <label for="edad">Edad</label>
        <input id="edad" type="number" name="edad">
    </div>
    
    <button>Enviar</button>

</form>