<h1>Formulario Handlebars</h1>

<form action="/api/productos" method="post">

    <div>
        <label for="tittle">Tittle</label>
        <input id="tittle" type="text" name="tittle">
    </div>

    <div>
        <label for="price">Price</label>
        <input id="price" type="number" name="price">
    </div>

    <div>
        <label for="thumbnail">Thumbnail</label>
        <input id="thumbnail" type="text" name="thumbnail">
    </div>
    
    <button>Enviar</button>

</form>