<h2>Historial</h2>

<% if(productos.length > 0){  %> 
    <table>
        <tr>
            <th>ID</th>
            <th>Tittle</th>
            <th>Price</th>
            <th>Thumbnail</th>
            
        </tr>
        <% for(const producto of productos){ %> 
        <tr>
            <td>
                <%-producto.id%> 
            </td>
            <td>
                <%-producto.tittle%> 
            </td>
            <td>
                <%-producto.price%> 
            </td>
            <td>
                <%-producto.thumbnail%> 
            </td>
        </tr>
        <% }; %> 
    </table>
<% } else { %> 
<h3>No se encontraron datos</h3>
<% } %> 
